/* CSS Reset */
body{
    color: black;
    margin: 0px;
    padding: 0px;
    background: url('../img/bg.jpg') no-repeat fixed;
    /* background-repeat: no-repeat;
    background-position: center center; */
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left{
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 60px;
    top: 20px;
}
.left img{
    width: 120px;
    /* Convert Black image to whote and white to black use 
    filter: invert(100%);
    */
}
.left div{
    text-align: center;
    line-height:12px;
    font-size: 20px;
}
.mid{
    display: block;
    width: 50%;
    margin: 20px auto;
    /* border: 2px solid green; */
    
}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    /* border: 2px solid yellow; */
    display:  inline-block;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 21px;
}
.navbar li a{
    color: black;
    text-decoration: none;
    padding: 34px 23px;
}
.navbar li a:hover, .navbar li a.active {
  text-decoration: underline;
  color: green;
}
.btn{
    margin: 0px 9px;
    background-color: rgb(0, 233, 233);
    color: rgb(147, 173, 173);
    padding: 15px 13px;
    border: 2px solid greenyellow;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn:hover{
    background-color: khaki;
}

.container{
    /* border: 2px solid grey; */
    margin: 106px 80px;
    padding: 75px;
    width: 34%;
    border-radius: 28px;
}
.form-group input{
    text-align: center;
    display: block;
    width: 500px;
    padding: 1px;
    font-size: 25px;
    border-radius: 10px;
   border: 2px solid yellowgreen;
    margin: 11px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container h1{
    text-align: center;
}
.container button{
   display: block;
   width: 73%;
   margin: 2px auto;
}
